.funny-glasses {
    position: relative;
    left: 213px;
    bottom: 108px;
}

.bandana {
    position: absolute;
    left: 107px;
    bottom: 74px;
}

.pawprint {
    position: fixed;
    top: 45px;
    left: 66px;
}

.stick-clothing {
    position: sticky;
    left: 0px;
}

.luna {
    position: sticky;
    left: 0px;
}

.top-hat {
    z-index: 1;
}